body{
    font-family: 'Noto Sans KR', sans-serif;
}

h1,h2,h3,h4,h5, .logo-font{
    font-family: 'Sunflower', sans-serif;
}

.card-img-top{
    transition: transform .7s;
}
.card-img-top:hover{
    transform: scale(1.1);
}

.banner{
    background-image: url(images/card-banner.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.nav-link.active,
.nav-link:hover{
    color:darkblue !important;
    font-weight: bold;
}

#headerCarousel img{
    filter: grayscale(50%);
}
#headerCarousel:hover img{
    filter: grayscale(0%);
}

.contact-bg{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .2)), url(images/contact-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}